# Data Wrangling January 2020 #
## Lanie Preston & Floor Kouwenberg ##

Lanie Preston (VU Student Nr: 2629403)

Floor Kouwenberg (VU ID:

In [12]:
#read in libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup

## Data on USA Dairy Production per Year and Quarter ##

In [77]:
us_dairy_production = pd.read_excel('annualmilkprodfactors.xlsx', index_col=0)
us_dairy_production["Milk production"]

,Milk cows and heifers that have calved,"Replace-ment heifers, 500+ lbs.",Replace-ments per 100 cows,Average number of milk cows in the U.S.,Milk per cow,Milk production,Average price paid for milk 1,Dairy ration value 2,Milk-feed ratio 3,Price,Milk volume required to buy a cow,Alfalfa hay price received by farmers,Slaughter cow \nprice 4
Year,,,,,,,,,,,,,
1980.0,10758.2,4158.5,38.654236,10799.0,11891.0,128406.0,13.0,4.837357,2.717149,1190.0,9153.846154,72.000000,45.730000
1981.0,10849.0,4341.6,40.018435,10898.0,12183.0,132770.0,13.8,5.035243,2.759031,1200.0,8695.652174,70.900000,41.930000
1982.0,10985.9,4546.7,41.386687,11011.0,12306.0,135505.0,13.6,4.422102,3.088127,1110.0,8161.764706,72.733333,39.960000
1983.0,11046.8,4544.8,41.141326,11059.0,12622.0,139588.0,13.6,5.235034,2.609620,1030.0,7573.529412,78.700000,39.350000
1984.0,11058.7,4532.7,40.987639,10793.0,12541.0,135351.0,13.5,5.338787,2.540000,895.0,6629.629630,79.483333,39.810000
1985.0,10776.9,4770.0,44.261337,10981.0,13024.0,143012.0,12.7,4.500458,2.840000,860.0,6771.653543,73.675000,38.310000
1986.0,11115.5,4708.7,42.361567,10773.0,13285.0,143124.0,12.5,3.774750,3.390000,820.0,6560.000000,64.641667,37.180000
1987.0,10466.4,4304.9,41.130666,10327.0,13819.0,142709.0,12.5,3.445415,3.640000,920.0,7360.000000,65.966667,44.800000
1988.0,10311.2,4122.3,39.978858,10224.0,14185.0,145034.0,12.2,4.721579,2.630000,990.0,8114.754098,82.508333,47.910000
1989.0,10137.5,4116.7,40.608631,10046.0,14323.0,143893.0,13.6,5.067418,2.700000,1030.0,7573.529412,95.983333,50.110000
1990.0,10014.8,4170.6,41.644366,9993.0,14782.0,147721.0,13.7,4.856720,2.820000,1160.0,8467.153285,92.558333,53.320000
1991.0,9965.6,4093.4,41.075299,9826.0,15031.0,147697.0,12.2,4.485206,2.740000,1100.0,9016.393443,78.958333,51.500000
1992.0,9728.2,4131.4,42.468288,9688.0,15570.0,150847.0,13.1,4.371236,3.010000,1130.0,8625.954198,75.508333,49.690000
1993.0,9658.1,4176.2,43.240389,9581.0,15722.0,150636.0,12.8,4.599924,2.800000,1160.0,9062.500000,86.666667,50.140000
1994.0,9507.0,4124.5,43.383822,9494.0,16179.0,153602.0,13.0,4.926199,2.650000,1170.0,9000.000000,93.633333,45.030000
1995.0,9481.8,4121.3,43.465376,9466.0,16405.0,155292.0,12.7,4.913812,2.590000,1130.0,8897.637795,88.091667,38.120000
1996.0,9419.9,4090.3,43.421905,9372.0,16433.0,154006.0,14.9,6.151045,2.440000,1090.0,7315.436242,95.025000,33.000000
1997.0,9317.9,4058.4,43.554878,9252.0,16871.0,156091.0,13.3,5.621552,2.380000,1100.0,8270.676692,110.691667,36.930000
1998.0,9199.0,3985.7,43.327536,9151.0,17185.0,157262.0,15.5,4.728829,3.340000,1120.0,7225.806452,94.283333,35.540000
1999.0,9128.0,4068.8,44.574934,9153.0,17763.0,162589.0,14.4,4.011008,3.590000,1280.0,8888.888889,82.258333,37.280000
2000.0,9182.8,3999.8,43.557521,9199.0,18197.0,167393.0,12.3,4.042561,3.050000,1340.0,10894.308943,83.875000,40.076042
2001.0,9171.7,4057.0,44.233893,9103.0,18162.0,165332.0,15.0,4.413387,3.390000,1500.0,10000.000000,102.408333,44.778646
2002.0,9105.6,4054.8,44.530838,9139.0,18608.0,170063.0,12.1,4.673973,2.600000,1600.0,13223.140496,101.300000,40.093229
2003.0,9141.7,4113.9,45.001477,9081.0,18759.0,170348.0,12.5,4.802399,2.610000,1340.0,10720.000000,94.025000,42.990000
2004.0,8987.5,4018.0,44.706537,9010.0,18960.0,170832.0,16.1,5.200663,3.100000,1580.0,9813.664596,95.133333,52.660000
2005.0,9003.5,4116.6,45.722219,9050.0,19550.0,176931.0,15.1,4.682468,3.240000,1770.0,11721.854305,102.525000,53.940000
2006.0,9103.9,4298.0,47.210536,9137.0,19895.0,181782.0,12.9,5.037088,2.570000,1730.0,13410.852713,107.708333,49.080000
2007.0,9144.5,4324.9,47.295095,9189.0,20204.0,185654.0,19.1,6.795760,2.800000,1830.0,9581.151832,130.583333,49.510000
2008.0,9257.0,4415.0,47.693637,9314.0,20397.0,189978.0,18.3,9.166254,2.010000,1950.0,10655.737705,161.333333,51.440000
2009.0,9332.8,4409.5,47.247343,9202.0,20561.0,189202.0,12.8,7.268469,1.780000,1390.0,10859.375000,122.916667,44.376750
2010.0,9086.5,4551.2,50.087492,9123.0,21142.0,192877.0,16.3,7.202995,2.260000,1330.0,8159.509202,116.416667,56.100000
2011.0,9155.6,4577.2,49.993447,9199.0,21334.0,196255.0,20.1,10.755958,1.900000,1420.0,7064.676617,176.083333,68.300000
2012.0,9235.5,4618.0,50.002707,9237.0,21722.0,200642.0,18.5,12.150000,1.520000,1430.0,7729.729730,206.083333,77.710000
2013.0,9221.2,4545.7,49.296187,9224.0,21816.0,201231.0,20.1,11.709234,1.750000,1380.0,6865.671642,205.830000,77.560000
2014.0,9207.6,4548.7,49.401581,9257.0,22259.0,206054.0,24.0,9.510000,2.540000,1830.0,7625.000000,200.250000,102.040000
2015.0,9306.9,4710.4,50.611912,9314.0,22396.0,208597.0,17.1,8.040000,2.140000,1990.0,11637.426901,165.830000,99.560000
2016.0,9310.4,4814.0,51.705620,9325.0,22778.0,212405.0,16.3,7.260000,2.260000,1760.0,10797.546012,138.340000,70.070000
2017.0,9346.0,4754.0,50.866681,9406.0,22914.0,215527.0,17.7,7.300000,2.420000,1620.0,9152.542373,145.670000,65.160000
2018.0,9432.1,4768.3,50.553959,9399.0,23149.0,217575.0,16.2,7.960000,2.040000,1360.0,8395.061728,174.580000,57.430000
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Data on Party Divisions per Year ##

In [62]:
#seats per party per year 
senate_division = pd.read_excel('senate_division.xlsx')
senate_division

,Congress,Years,Total,Democrats,Republicans,Others,Vacancies,HOR: Total,HOR: Democrats,HOR: Republicans,HOR: Other,HOR: Vacancies
0,105,1997-1999,100,45,55,NaN,NaN,435,206,227,2.0,NaN
1,106,1999–2001,100,45,55,NaN,NaN,435,211,223,1.0,NaN
2,107,2001–2003,100,50,50,NaN,NaN,435,212,221,2.0,NaN
3,108,2003–2005,100,48,51,1.0,NaN,435,205,229,1.0,NaN
4,109,2005–2007,100,44,55,1.0,NaN,435,202,232,1.0,NaN
5,110,2007–2009,100,49,49,2.0,NaN,435,233,202,NaN,NaN
6,111,2009–2011,100,57,41,1.0,1.0,435,257,178,NaN,NaN
7,112,2011–2013,100,51,47,2.0,NaN,435,193,242,NaN,NaN
8,113,2013–2015,100,53,45,2.0,NaN,435,201,234,NaN,NaN
9,114,2015–2017,100,44,54,2.0,NaN,435,188,247,NaN,NaN
10,115,2017–2019,100,46,52,2.0,NaN,435,194,241,NaN,NaN
11,116,2019–2021,100,45,53,2.0,NaN,435,235,197,1.0,2.0

## Data on Dollar Amounts of Subsudies paid to Dairy Farmers by the US Government ##

In [60]:
#government payouts by program
payouts2010 = pd.read_excel('GP_PaymentsUSA2010.xlsx')
payouts2000 = pd.read_excel('GP_PaymentsUSA2000.xlsx')
payouts1990 = pd.read_excel('GP_PaymentsUSA1990.xlsx')

def clean_df(df):
    if 'Unnamed: 4' in list(df):
        del df['Unnamed: 4']
    df.rename(columns= {'Unnamed: 0': 'Program'}, inplace=True)
    df.rename(columns= {'United States': 'Program'}, inplace=True)
    return df
   
payouts1990 = clean_df(payouts1990)
payouts2000 = clean_df(payouts2000)
payouts2010 = clean_df(payouts2010)

payouts_early = pd.merge(payouts1990, payouts2000, how='outer')
all_payouts = pd.merge(payouts_early, payouts2010, how='outer')
all_payouts = all_payouts.set_index('Program')

search_values = ['dairy','milk']
all_payouts[all_payouts.index.str.contains('|'.join(search_values),  na=False, case=False)]

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Program,,,,,,,,,,,,,,,,,,,,,
Milk income loss payments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51660.0,-100.0,446572.0,231704.0,-129.0,-40.0,-64.0,-43.0,-20.0,NaN
Dairy Margin Coverage Program,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,686.0,10394.0,19.0,250013.0,214000.0

In [74]:
#lobbies per year per party - how do we read this in?
lobies = pd.read_excel('AnnualLobyingOnDairy.xlsx', index_col=0)
lobies

       Dollar
Year
1998  2245000
1999  3051110
2000  2798900
2001  3260000
2002  4314700
2003  4073436
2004  4839800
2005  4841312
2006  3840045
2007  5220448
2008  4853491
2009  4832390
2010  5662885
2011  6695032
2012  7302248
2013  8347149
2014  6951794
2015  7116441
2016  6480567
2017  6009870
2018  7590843
2019  5637167